$Background: #242424;
$Orange: #FF3600;
$Card-color: #0E0E0E;
$Off-White: #EDFFFF;

.highlight {
    position: absolute;
    overflow: hidden;
    min-width: 300px;
    height: 300px; 

}
.highlight-wrapper{
    display: flex;
    justify-content: space-between;
    margin: 10px;
    overflow: hidden;
    position: absolute;
    right: 0px;
}

.card-wrapper { //inner slide
    display: flex;
    justify-content: space-between;
    margin: 10px;
}
.highlight-card {
    user-select: none;
    text-align: start;
    background-color: $Card-color;
    min-width: 280px;
    padding: 20px 35px;
    margin: 20px;

}

.highlight-t {
margin-bottom: 35px;
}
