.--ad-container {
  margin-bottom: -5px;
}

.--img-container {
  width: 100%;
  position: relative;
}

.--ad-card {
  position: absolute;
  z-index: 25;
  padding-left: 25px;
  padding-right: 25px;
}

#first-img {
  top: 20px;
}

#second-img {
  bottom: 20px;
  right: 0;
  text-align: right;
}

.adcard-btn {
  background-color: #FF3600;
  color: #EDFFFF;
  border: none;
  padding: 5px 25px;
  font-size: 18px;
  border-radius: 1px;
  margin-top: 25px;
}

.image-content {
  width: 100%;
  position: relative;
  height: 300px;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center center;
}

.highlight-wrapper {
  display: flex;
  justify-content: space-between;
  margin: 10px;
  overflow: hidden;
  position: absolute;
  right: 0px;
}

.highlight-card {
  -webkit-user-select: none;
     -moz-user-select: none;
      -ms-user-select: none;
          user-select: none;
  text-align: start;
  background-color: #0E0E0E;
  min-width: 280px;
  padding: 25px 35px;
  margin: 20px;
}

.highlight-t {
  margin-bottom: 35px;
  font-size: 28px;
}

.highlight-t::before {
  content: "";
  width: 5px;
  height: 60px;
  background-color: #FF3600;
  position: absolute;
  -webkit-user-select: none;
     -moz-user-select: none;
      -ms-user-select: none;
          user-select: none;
  margin-left: -35px;
}

.highlight-d {
  line-height: 160%;
}

.btn-indicator {
  padding: 0;
  width: 14px;
  height: 14px;
  border-radius: 100%;
  border-style: none;
  margin: 4px;
  cursor: pointer;
  background-color: dimgray;
}

.highlight-section {
  position: relative;
  width: 300px;
  overflow: hidden;
  height: 300px;
  margin: 0 auto;
  margin-top: 50px;
}

.slider-container {
  display: flex;
  position: absolute;
  transform: translateX();
  transition: 800ms;
}

.indicator-slider {
  text-align: center;
}

.item-img {
  -webkit-user-select: none;
     -moz-user-select: none;
      -ms-user-select: none;
          user-select: none;
  pointer-events: none;
}

.pd-container {
  width: 280px;
  height: 320px;
  background-color: white;
  margin: 0 auto;
  color: black;
  padding: 25px;
  transition: 200ms;
}

.pd-container:hover {
  transform: scale(1.075);
  transition: 400ms;
}

.fp-section {
  margin-top: 80px;
  width: 100%;
  height: 600px;
  background-color: rgb(247, 247, 247);
}

#fp-t {
  color: #0E0E0E;
  text-align: center;
  text-transform: uppercase;
  padding: 50px 0;
}

.item-name {
  margin-top: 50px;
  text-align: left;
}

.item-img {
  width: 250px;
  text-align: center;
  -webkit-user-select: none;
     -moz-user-select: none;
      -ms-user-select: none;
          user-select: none;
}

.item-price {
  text-align: left;
  margin-top: 5px;
}

.swiper-wrapper {
  text-align: center;
}

.swiper-pagination {
  bottom: 20px !important;
}

.swiper-pagination-bullet {
  width: 14px !important;
  height: 14px !important;
  background-color: #0E0E0E !important;
  opacity: 1 !important;
}

.swiper-pagination-bullet-active {
  background-color: #FF3600 !important;
}

.pd-section {
  height: 410px;
  padding-top: 20px;
}

.activity-section {
  width: 100%;
  height: 600px;
  padding-top: 50px;
  text-align: center;
  padding-bottom: 75px;
}

.section-title {
  text-transform: uppercase;
  margin-bottom: 75px;
}

.a-image-container {
  position: relative;
  width: 100%;
  height: 200px;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  margin: 0;
  text-align: center;
  display: flex;
  justify-content: center;
  align-items: center;
  filter: brightness(0.75);
  transition-duration: 300ms;
  max-height: 600px;
}

.a-image-container:hover {
  filter: brightness(1);
  transition-duration: 600ms;
}

.a-cont {
  overflow: hidden;
  width: 100%;
}

.a-title {
  border: 1px solid white;
  font-size: 2.5rem;
  text-transform: uppercase;
  color: #EDFFFF;
}

.grid-container {
  display: grid;
  grid-auto-flow: row dense;
  grid-auto-columns: 1fr 1fr;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: auto auto auto auto auto;
  gap: 20px 20px;
  grid-template-areas: "img1 img1" "img2 . " "img3 img3" "img4 img5" "img6 img6";
  padding: 25px;
}

#img1 {
  grid-area: img1;
}

#img2 {
  grid-area: img2;
}

#img3 {
  grid-area: img3;
}

#img4 {
  grid-area: img4;
}

#img5 {
  grid-area: img5;
}

#img6 {
  grid-area: img6;
}

* {
  box-sizing: border-box;
  margin: 0;
}

html {
  background-color: #242424;
}

.App {
  color: white;
}

.--top-section {
  padding: 25px;
  width: 100%;
  height: 85px;
  background-color: #0E0E0E;
}

.--top-update-message {
  font-variant-caps: all-petite-caps;
}

.--header {
  display: flex;
  justify-content: space-between;
}

#--logo {
  width: 225px;
}

.--user-action-wrapper {
  padding: 10px;
  gap: 10px;
  display: grid;
  margin-right: 20px;
}

.--icon-bag {
  font-size: 22px;
}

.--icon-open {
  font-size: 22px;
  color: #0E0E0E;
}/*# sourceMappingURL=App.css.map */