.--ad-container {
  margin-bottom: -5px;
}

.--img-container {
  width: 100%;
  position: relative;
}

.--ad-card {
  position: absolute;
  z-index: 25;
  padding-left: 25px;
  padding-right: 25px;
}

#first-img {
  top: 20px;
}

#second-img {
  bottom: 20px;
  right: 0;
  text-align: right;
}

.adcard-btn {
  background-color: #FF3600;
  color: #EDFFFF;
  border: none;
  padding: 5px 25px;
  font-size: 18px;
  border-radius: 1px;
  margin-top: 25px;
}

.image-content {
  width: 100%;
  position: relative;
  height: 300px;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center center;
}

.highlight-wrapper {
  display: flex;
  justify-content: space-between;
  margin: 10px;
  overflow: hidden;
  position: absolute;
  right: 0px;
}

.highlight-card {
  -webkit-user-select: none;
     -moz-user-select: none;
      -ms-user-select: none;
          user-select: none;
  text-align: start;
  background-color: #0E0E0E;
  min-width: 280px;
  padding: 25px 35px;
  margin: 20px;
}

.highlight-t {
  margin-bottom: 35px;
  font-size: 28px;
}

.highlight-t::before {
  content: "";
  width: 5px;
  height: 60px;
  background-color: #FF3600;
  position: absolute;
  -webkit-user-select: none;
     -moz-user-select: none;
      -ms-user-select: none;
          user-select: none;
  margin-left: -35px;
}

.highlight-d {
  line-height: 160%;
}

.btn-indicator {
  padding: 0;
  width: 14px;
  height: 14px;
  border-radius: 100%;
  border-style: none;
  margin: 4px;
  cursor: pointer;
  background-color: dimgray;
}

.highlight-section {
  position: relative;
  width: 300px;
  overflow: hidden;
  height: 300px;
  margin: 0 auto;
  margin-top: 50px;
}

.slider-container {
  display: flex;
  position: absolute;
  transform: translateX();
  transition: 800ms;
}

.indicator-slider {
  text-align: center;
}

.item-img {
  -webkit-user-select: none;
     -moz-user-select: none;
      -ms-user-select: none;
          user-select: none;
  pointer-events: none;
}

.pd-container {
  width: 280px;
  height: 320px;
  background-color: white;
  margin: 0 auto;
  color: black;
  padding: 25px;
  transition: 200ms;
}

.pd-container:hover {
  transform: scale(1.075);
  transition: 400ms;
}

.fp-section {
  margin-top: 80px;
  width: 100%;
  height: 600px;
  background-color: rgb(247, 247, 247);
}

#fp-t {
  color: #0E0E0E;
  text-align: center;
  text-transform: uppercase;
  padding: 50px 0;
}

.item-name {
  margin-top: 50px;
  text-align: left;
}

.item-img {
  width: 250px;
  text-align: center;
  -webkit-user-select: none;
     -moz-user-select: none;
      -ms-user-select: none;
          user-select: none;
}

.item-price {
  text-align: left;
  margin-top: 5px;
}

.swiper-wrapper {
  text-align: center;
}

.swiper-pagination {
  bottom: 20px !important;
}

.swiper-pagination-bullet {
  width: 14px !important;
  height: 14px !important;
  background-color: #0E0E0E !important;
  opacity: 1 !important;
}

.swiper-pagination-bullet-active {
  background-color: #FF3600 !important;
}

.pd-section {
  height: 410px;
  padding-top: 20px;
}

.activity-section {
  width: 100%;
  padding-top: 50px;
  text-align: center;
  padding-bottom: 75px;
}

.section-title {
  text-transform: uppercase;
  margin-bottom: 75px;
}

.a-image-container {
  position: relative;
  width: 100%;
  height: 200px;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  margin: 0;
  text-align: center;
  display: flex;
  justify-content: center;
  align-items: center;
  filter: brightness(0.75);
  transition-duration: 300ms;
  max-height: 600px;
}

.a-image-container:hover {
  filter: brightness(1);
  transition-duration: 600ms;
}

.a-cont {
  overflow: hidden;
  width: 100%;
}

.a-title {
  border: 1px solid white;
  font-size: 2.5rem;
  text-transform: uppercase;
  color: #EDFFFF;
}

.grid-container {
  display: grid;
  grid-auto-flow: row dense;
  grid-auto-columns: 1fr 1fr;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: auto auto auto auto auto;
  gap: 20px 20px;
  grid-template-areas: "img1 img1" "img2 . " "img3 img3" "img4 img5" "img6 img6";
  padding: 10px;
}

#img1 {
  grid-area: img1;
}

#img2 {
  grid-area: img2;
}

#img3 {
  grid-area: img3;
}

#img4 {
  grid-area: img4;
}

#img5 {
  grid-area: img5;
}

#img6 {
  grid-area: img6;
}

.testimonial-section {
  width: 100%;
}

.testimonial-card {
  width: 100%;
  height: 700px;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  position: relative;
  padding: 20px;
}

.testimonial-product-card {
  width: 100%;
  height: 400px;
  text-align: center;
}

.testimonial-img {
  -webkit-clip-path: circle();
          clip-path: circle();
  width: 250px;
  float: left;
}

.t-card-info {
  position: absolute;
  bottom: 0;
  margin-bottom: 75px;
  margin-left: 20px;
}

.fi {
  font-size: 25px;
}

.t-item-img {
  width: 260px;
  margin-top: 50px;
}

.t-item-name {
  color: #0E0E0E;
  text-align: center;
  text-transform: uppercase;
  margin-top: 50px;
}

.testimonials {
  background-color: white;
  margin: 10px;
  height: 1150px;
}

.page-swiper-card {
  width: 100%;
  height: 1220px;
}

.faq-section {
  width: 100%;
  margin-top: 100px;
  display: grid;
}

.faq-container {
  background-color: white;
  color: #0E0E0E;
  min-width: 280px;
  max-width: 320px;
  margin: 0 auto;
  margin-bottom: 40px;
  height: 450px;
}

.faq-bg {
  width: 100%;
  height: 200px;
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
}

.faq-info {
  padding: 20px;
  padding-bottom: 40px;
}

.faq-t {
  margin-bottom: 40px;
  text-transform: uppercase;
}

.faq-d {
  margin-bottom: 20px;
}

.faq-link {
  text-decoration: none;
  color: #FF3600;
}

.fa-arrow-right {
  margin-left: 15px;
}

.email-banner {
  background-color: #FF3600;
  padding: 20px;
  display: block;
}

.banner-t {
  text-transform: uppercase;
  margin-bottom: 15px;
}

.banner-p {
  margin-bottom: 15px;
}

.email-input {
  color: white;
  background-color: transparent;
  border: solid 1px white;
  padding: 10px 5px;
  text-align: center;
}

.email-btn {
  color: white;
  background-color: #891e00;
  border: none;
  padding: 10px;
}

.email-btn:hover {
  color: #0E0E0E;
}

.quick-info {
  background-color: black;
  width: 100%;
}

.info-container {
  text-align: center;
}

.quick-info .info {
  width: 250px;
  margin: 0 auto;
  padding: 20px;
}

.quick-info .info i {
  font-size: 50px;
  color: rgb(50, 50, 50);
  padding: 20px;
}

.quick-info .info h3 {
  margin-bottom: 15px;
}

.hide-list {
  display: none;
}

.show-list {
  display: block;
}

.usc-wrapper {
  display: flex;
  justify-content: space-between;
  padding: 0 40px;
  margin: 60px 0;
}

.ul-drop-btn {
  background-color: black;
  padding: 10px 20px;
  margin: 10px 0;
  border: solid rgb(156, 156, 156) 1px;
  color: rgb(137, 137, 137);
}

.country-btn {
  max-width: 180px;
  font-size: 10px;
}

.language-btn {
  max-width: 120px;
  font-size: 10px;
}

.site-sug-wrap {
  margin-top: 20px;
}

.site-sug-wrap .fa-brands {
  margin: 5px;
  font-size: 30px;
}

.footer-section {
  padding-left: 20px;
  margin: 20px 0;
}

.footer-ul {
  padding: 10px 10px;
  text-transform: uppercase;
  cursor: pointer;
  font-size: 18px;
  -webkit-user-select: none;
     -moz-user-select: none;
      -ms-user-select: none;
          user-select: none;
}

.footer-wrapper li {
  list-style: none;
  text-transform: none;
  padding: 10px 0px;
  font-size: 16px;
  -webkit-user-select: none;
     -moz-user-select: none;
      -ms-user-select: none;
          user-select: none;
}

.fa-play {
  padding: 0 10px;
  rotate: 0;
}

.last {
  float: right;
}

.down-arrow {
  rotate: 90deg;
}

* {
  box-sizing: border-box;
  margin: 0;
}

html {
  background-color: #242424;
}

.App {
  color: white;
}

.--top-section {
  padding: 25px;
  width: 100%;
  height: 65px;
  background-color: #0E0E0E;
}

.--top-update-message {
  font-variant-caps: all-petite-caps;
}

.--header {
  display: flex;
  justify-content: space-between;
  padding-top: 20px;
  padding-bottom: 20px;
}

#--logo {
  width: 225px;
}

.--user-action-wrapper {
  padding: 10px;
  gap: 10px;
  display: grid;
  margin-right: 20px;
}

.--icon-bag {
  font-size: 22px;
}

.--icon-open {
  font-size: 22px;
  color: #0E0E0E;
}/*# sourceMappingURL=App.css.map */